<div class="sidbar-admin bg-primary p-4 text-center d-flex flex-column justify-content-between align-items-center">

    <div>
        <img class="logo rounded" src="" routerLink="/home">
        <h2 class="font-weight-bolder text-monospace"></h2>
    </div>

    <nav id="list-example" class="list-group">
        <ul class="nav flex-column text-white text-start fw-bolder">
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/home"><i class="bi bi-house-door-fill me-2"></i>Dashboard</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/books"><i class="bi bi-grid me-2"></i> Books</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/reviews"><i class="bi bi-people-fill me-2"></i> Reviews</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/bookreview"><i class="bi bi-people-fill me-2"></i> My Books/Reviews</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/users"><i class="bi bi-people-fill me-2"></i> Users</a>
            </li>
            <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/history"><i class="bi bi-people-fill me-2"></i> History</a>
            </li>
            <!--  <li class="nav-item mb-1">
                <a class="nav-link" routerLink="/history">Historial</a> Se quita por el momento.
            </li> -->
        </ul>
    </nav>

    <footer>
        <button type="button" class="btn btn-outline-light" (click)="logOut()">
            Cerrar sesión
        </button>
    </footer>
</div>